---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

Beginning in Fall 2025, Jake will be establishing new courses at the intersection of computing and coupled natural-human systems for undergraduate and graduate students at the University of Wyoming. Interested in this intersection? Want to weigh in on new topics you want to see taught at the School of Computing and the Haub School? Get in touch @ jhawes@uwyo.edu. 
<br>
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
